
body {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/1/1e/Northeastern_University_-_51.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}