<div class="tab-pane fade active in" id="checkIn">

    <h2 class="col-md-offset-1">Check In</h2>

    <div class="well col-md-6 col-md-offset-3">
        <p class="text-center" style="font-size: 120px; font-weight: 100"><span id="clock"></span></p>
        <fieldset>
            <div class="form-group"><label for="inputEmail" class="col-lg-2 control-label">
                <h4>Name</h4></label>

                <div class="col-lg-10">
                    <select name="name" class="form-control" id="tourGuide" form="checkin">
                        <option value='0'>Select...</option>

                    </select>
                    <br/>
                </div>
            </div>

            <div id="checkin">
                <button type="submit" class="col-md-offset-6 btn btn-primary">Check In</button>
            </div>
        </fieldset>
    </div>
</div>
